homework/exercise-10/task3/bank.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bank">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accounts">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="savings_accounts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="savings_account" maxOccurs="unbounded" minOccurs="0" type="savings_account"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="checking_accounts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="checking_account" maxOccurs="unbounded" minOccurs="0" type="checking_account"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="customers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="customer" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="address"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="customer_accounts">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="customer_account" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="customer_id" use="optional"/>
                      <xs:attribute type="xs:string" name="account_id" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

    <xs:complexType name="account">
    <xs:sequence>
      <xs:element name="balance">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minExclusive value="-5000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="savings_account">
    <xs:complexContent>
      <xs:extension base="account">
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="interest" type="xs:decimal"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="checking_account">
    <xs:complexContent>
      <xs:extension base="account">
        <xs:attribute name="id" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

